.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 300px;
  width: 100%;
  padding: 30px 50px;
  background-color: rgb(209, 193, 193);
}

.input_add {
  width: 70%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.button_important {
  height: 40px;
  width: 20%;
  border: 1px solid green;
}

.date_container {
  width: 100%;
}

.date_container input {
  height: 40px;
  margin-top: 5px;
}
.date_container
  input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.button_important_active {
  border: 1px solid red;
  color: red;
}

.button_add {
  width: 30%;
  height: 40px;
  color: green;
  border: 1px solid green;
  padding: 3px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}
