.taskList_container {
  margin: 0 auto;
  border: 1px solid grey;
  width: 100%;
  min-height: 50vh;
}

.taskList_container p {
  padding: 5px;
  overflow: hidden;
}

.activeTasks {
  padding: 5px;
  font-weight: bold;
}

.numberOfTasks {
  font-style: italic;
}

.doneTasks {
  padding: 5px;
  font-weight: bold;
}
