.task {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.task p {
  padding: 0;
  margin: 0;
}

.task button {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.important {
  color: red;
}
