.taskList_container {
  margin: 0 auto;
  border: 1px solid grey;
  width: 50%;
}

.taskList_container p {
  padding: 5px;
}

.activeTasks {
  padding: 5px;
  font-weight: bold;
}

.numberOfTasks {
  font-style: italic;
}
